---
const { image, title, desciption, url } = Astro.props;
// const [cardColor] = cardState === "green" ? ["--greenish"] : ["--accent-color"];
---

<div
  class="learning-card"
  style={{
    backgroundColor: `var(--dominant-color)`,
  }}>
  <a
    href={url}
    target="_blank"
    rel="noopener noreferrer">
    <header>
      <img
        src={image}
        alt=""
      />
      <h3>{title}</h3>
    </header>
    <p>
      {desciption}
    </p>
  </a>
</div>

<style>
  h3 {
    margin: 0;
    font-weight: 800;
    font-size: 1.8rem;
    color: white;
  }

  header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }

  header > img {
    width: 4rem;
  }

  p {
    margin: 0;
    font-size: 1rem;
    color: white;
  }

  .learning-card {
    margin: 0;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    /* color: white; */
    transition-duration: 250ms;
  }

  @media (min-width: 1024px) {
    .learning-card:hover {
      transform: scale(1.05);
      box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);
    }
  }
</style>
