:root {
    --dominant-color: #121738;
    --complementary-color: #d17c78;
    --accent-color: black;
    --black: #262626;
    --white: #fafafa;

    --shadow-background: #f6f6f6;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: var(--body-color); */
    /* color: var(--accent-color); */
    overflow-x: hidden;
    /* cursor: none; */
}

h1, h2, h3 , h4, h5, h6{
    color: var(--dominant-color);
    cursor: default;
}

p{
    cursor: default;
}

h2{
    font-weight: 800;
    font-size: 80px;
    /* line-height: 97px; */
}

span{
    color: var(--complementary-color);
    /* text-decoration-style:; */
    text-decoration-line: underline;
    text-decoration-thickness: 0.6rem;
    text-decoration-color: var(--dominant-color);
    transition: 250ms;
}

span:hover{
    /* text-decoration-thickness: 1.5rem; */
    /* text-decoration-style:; */
    color: inherit;
}

a{
    /* cursor: none; */
    text-decoration: none;
    color: inherit;
}


