<div id="about-container">
    <p>
        I’m a man who is trying to better his life by throwing himself into tireless work and skill development. I’m a total detail freak. I’m often ask lots of questions, and deliver quality works, always.
        <br>I am not fixed to a specific software or programming language and switch to what is best for the project.
    </p>
</div>

<style>
    p{
        /* position: relative; */
        margin: 0 8%;
        width: 50%;
        font-weight: 700;
        font-size: 50px;
        line-height: 61px;
        /* top: 15%; */
        /* left: 8%; */
        /* top: 15rem; */
        /* z-index: 99; */

        text-decoration-line: underline;
    }

    #about-container{
        min-height: 100vh;
        /* z-index: 99; */
        /* width: 100vw; */
        /* background-color: yellow; */
    }
</style>