---
import githubLogo from "../portfolio_images/github-logo.png";
import linkedinLogo from "../portfolio_images/linkedin-logo.png";
import mediumLogo from "../portfolio_images/medium-logo.png";
---

<div style="min-height: 100vh; padding: 0 8%">
  <h2>Contact <span>Me</span></h2>
  <div id="contact-info">
    <p><span>Email</span></p>
    <p id="email">chirag1292003@gmail.com</p>
    <p id="resume">Resume</p>
    <p><span>Socials</span></p>

    <div id="github">
      <img
        src={githubLogo}
        alt=""
      />
    </div>

    <div id="linkedin">
      <img
        src={linkedinLogo}
        alt=""
      />
    </div>

    <div id="medium">
      <img
        src={mediumLogo}
        alt=""
      />
    </div>
  </div>
</div>
<style>
  /* ////setup/////// */
  #email {
    grid-column: span 2;
  }

  #resume {
    grid-row: span 3;
  }

  #medium {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  #contact-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* align-content: center; */
    justify-items: center;
    gap: 1rem;
  }

  #contact-info > * {
    /* background-color: var(--accent-color); */
    border-radius: 1rem;
  }

  /* ///////////////////// */

  /* ///////////styling///////////// */

  p {
    font-size: 2rem;
    justify-self: left;
    font-weight: 800;
  }

  #email {
    display: flex;
    justify-content: center;
    /* justify-items: center; */
    align-items: center;
    align-self: center;
    /* justify-self: center; */
    font-size: 1.5rem;

    /* vertical-align: middle; */
    background-color: var(--accent-color);
    color: var(--body-color);
    width: 100%;
    height: 100%;
  }

  #resume {
    width: 100%;
    height: 100%;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--body-color);
    background-color: var(--accent-color);
  }

  #github, #linkedin, #medium {
    width: 100%;
    display: flex;
    justify-content: center;

    background-color: var(--greenish);
  }

  #github > img, #linkedin > img, #medium > img{
    margin: 1rem;
  }

  /* /////////////////// */
</style>
