---
import githubLogo from "../portfolio_images/github-logo.png";
import linkedinLogo from "../portfolio_images/linkedin-logo.png";
import mediumLogo from "../portfolio_images/medium-logo.png";
---

<div id="contact-me">
  <h2>Contact <span>Me</span></h2>
  <div id="contact-info">
    <p id="email-text"><span>Email</span></p>
    <p
      id="email"
      class="contact-field">
      <a
        href="mailto:chirag1292003@gmail.com"
        target="_blank"
        rel="noopener noreferrer"
        >chirag1292003@gmail.com</a
      >
    </p>

    <p id="socials-text"><span>Socials</span></p>
    <section id="social-section">
      <div
        id="github"
        class="contact-field">
        <a
          href="https://github.com/DuanBoomer"
          target="_blank"
          rel="noopener noreferrer">
          <img
            src={githubLogo}
            alt=""
          />
        </a>
      </div>

      <div
        id="linkedin"
        class="contact-field">
        <a
          href="https://www.linkedin.com/in/chirag-ji-163a38221/"
          target="_blank"
          rel="noopener noreferrer">
          <img
            src={linkedinLogo}
            alt=""
          />
        </a>
      </div>

      <div
        id="medium"
        class="contact-field">
        <a
          href="https://medium.com/@chirag1292003"
          target="_blank"
          rel="noopener noreferrer">
          <img
            src={mediumLogo}
            alt=""
          />
        </a>
      </div>
    </section>
    <a
      id="resume"
      class="contact-field"
      href="https://drive.google.com/file/d/1i0d69cs8ObUZCr7S-2kni0At5iTNEAbM/view?usp=share_link"
      target="_blank"
      rel="noopener noreferrer">
      <p>Resume</p>
    </a>
  </div>
</div>
<style>
  #medium {
    grid-column: span 2;
    /* width: 90%; */
  }

  .contact-field {
    border-radius: 1rem;
  }

  h2 {
    font-size: 2rem;
    font-weight: 800;
    margin-top: 3rem;
    width: fit-content;
    margin: 1rem 0;
  }

  p {
    font-weight: 800;
    font-size: 1.5rem;
    /* margin: 2rem 0 0 0; */
  }

  #email {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size: 1rem;
    margin: 1rem 0;
    padding: 1rem;
    background-color: var(--dominant-color);
    color: white;
  }

  #resume {
    margin: 1rem 0;
    padding: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dominant-color);
    color: var(--complementary-color);
  }

  #github,
  #linkedin,
  #medium {
    display: flex;
    justify-content: center;
    width: fit-content;
    padding: 2rem;
    background-color: var(--dominant-color);
    transition: 250ms;
  }

  #github > a > img,
  #linkedin > a > img,
  #medium > a > img {
    height: 4rem;
  }

  #social-section {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem 0;
  }

  .contact-field {
    transition-duration: 250ms;
  }

  #email-text, #socials-text{
    color: var(--dominant-color);
  }
  #email-text > span, #socials-text > span{
    text-decoration-thickness: 0.3rem;
  }



  #contact-me {
    padding: 2rem;
    /* background-color: var(--shadow-background); */
  }

  @media (min-width: 768px) {
    #email {
      width: fit-content;
      padding: 1rem 3rem;
    }
  }

  @media (min-width: 1024px) {
    h2 {
      font-size: 3rem;
    }

    #contact-info {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 0.5rem;
    }

    #social-section {
      grid-column-start: 2;
    }

    #socials-text {
      grid-column-start: 1;
    }

    #resume {
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start: 3;
      /* vertical-align: center; */
      /* padding: 50% 0; */
      /* height: 30vh; */
    }

    #github:hover,
    #linkedin:hover,
    #medium:hover,
    #resume:hover,
    #email:hover {
      transform: scale(1.1);
      box-shadow: 0 0 5px 3px rgb(0, 0, 0, 0.5);
    }
  }
</style>
