---
import githubLogo from "../portfolio_images/github-logo.png";
import linkedinLogo from "../portfolio_images/linkedin-logo.png";
import mediumLogo from "../portfolio_images/medium-logo.png";
---

<div id="contact-me">
  <h2>Contact <span>Me</span></h2>
  <div id="contact-info">
    <p>Email</p>
    <p id="email">chirag1292003@gmail.com</p>
    <p
      id="resume"
      class="span-all-rows">
      Resume
    </p>
    <p>Socials</p>
    <div class="inline-logos">
      <img
        src={githubLogo}
        alt=""
      />
      <img
        src={linkedinLogo}
        alt=""
      />
    </div>
    <img
      id="medium"
      class="start-center"
      src={mediumLogo}
      alt=""
    />
  </div>
</div>
<style>
  .span-two-cols {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .span-all-rows {
    grid-row: span 3;
  }

  .inline-logos {
    display: flex;
    justify-content: space-between;
    /* gap: 2rem; */
  }

  .start-center {
    grid-column-start: 2;
  }

  h2 {
    position: relative;
    top: 5rem;
    font-weight: 800;
    font-size: 80px;
    line-height: 97px;
    margin: 0;
    left: 8%;
  }

  img {
    background-color: var(--greenish);
    padding: 2rem;
    /* object-fit: cover; */
    /* width: 100%; */
    width: 10.5rem;
    border-radius: 1rem;
  }

  p,
  span {
    text-decoration-line: underline;
  }

  p {
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    margin: 0;
    /* text-align: center; */
    /* vertical-align: middle; */
  }

  #email,
  #resume {
    text-decoration-line: none;
  }

  #email {
    margin: 0;
    background-color: var(--greenish);
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
    padding: 1.5rem;
    /* margin: 1rem 0; */
    border-radius: 1rem;
    color: var(--blackish);
  }

  #resume {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: var(--accent-color);
    color: var(--body-color);
    font-weight: 800;
    font-size: 60px;
    line-height: 73px;
    margin: 0;
    border-radius: 1rem;
  }

  #medium {
    width: max-content;
  }

  #contact-info {
    display: grid;
    position: relative;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    top: 10rem;
    width: 80%;
    left: 8%;
  }

  #contact-me {
    min-height: 100vh;
    /* background-color: blue; */
  }
</style>
