---
// import headshot from "../portfolio_images/headshot.jpg";
import headshot from "../portfolio_images/portrait.png";
---

<div id="head-container">
  <img
    id="headshot"
    src={headshot}
    alt="headshot"
  />
  <div id="head-text">
    <h1>Chirag</h1>
    <h2>A Student of Life <br /> <span>Lifetime learner</span></h2>
    <p>
      I’m a man who is trying to better his life by throwing himself into
      tireless work and skill development. I’m a total detail freak. I’m often
      ask lots of questions, and deliver quality works, always.
      <br />I am not fixed to a specific software or programming language and
      switch to what is best for the project.
    </p>
  </div>
</div>

<style>
  #headshot {
    height: 25rem;
    width: min(20rem, 70vw);
    object-fit: cover;
    position: absolute;
    bottom: -4rem;
    right: 0;
    z-index: 1;
    border-radius: 1rem;
    margin-right: 1rem;
  }

  h1 {
    font-weight: 900;
    font-size: 4rem;
    transition: 250ms;
    width: fit-content;
    margin: 4rem 0 0 0;
    color: var(--complementary-color);
    z-index: 10;
  }

  h2 {
    font-weight: 700;
    font-size: 0.85rem;
    width: fit-content;
    transition: 250ms;
    color: var(--complementary-color);
    z-index: 10;
  }

  p {
    font-weight: 700;
    font-size: 1.2rem;
    transition: 250ms;
    max-width: max(25rem, 50vw);
    text-decoration-line: underline;

    color: var(--complementary-color);
    z-index: 10;
  }

  #head-text {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    height: 100vh;
  }

  #head-container {
    min-height: 100vh;
    background-color: var(--dominant-color);
    /* margin-bottom: 5rem; */
  }

  @media (min-width: 768px) {
    #headshot {
      position: static;
      width: 50vw;
      height: 100vh;
      border-radius: 0;
      object-fit: cover;
    }

    #head-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    h2 {
      text-align: right;
    }

    p {
      margin: 5rem 0 0 0;
      text-align: right;
      width: auto;
    }

    #head-text {
      align-items: flex-end;
      justify-content: center;
    }
  }

  @media (min-width: 1024px) {
    #headshot {
      height:100%;
      filter: grayscale(100%);
      transition: 250ms;
    }

    #head-text {
      margin-top: 35vh;
    }

    #headshot {
      position: sticky;
    }
    h1 {
      font-size: max(6.5rem, 8vw);
    }

    h1:hover {
      transform: scale(1.1);
    }

    h2 {
      font-size: max(1.2rem, 1.5vw);
    }

    /* h2:hover > span {
      text-decoration-line: none;
      color: var(--complementary-color);
    } */

    p {
      font-size: max(1.7rem, 2vw);
    }

    p:hover {
      color: var(--complementary-color);
    }

    #headshot:hover{
      filter: none;
    }
  }
</style>
