---
import headshot from "../portfolio_images/headshot.jpg";
---

<div id="head-container">
  <img
    id="headshot"
    src={headshot}
    alt="headshot"
  />
  <div id="head-text">
    <h1>Chirag</h1>
    <h2>A Student of Life <br /> <span>Lifetime learner</span></h2>
    <p>
      I’m a man who is trying to better his life by throwing himself into
      tireless work and skill development. I’m a total detail freak. I’m often
      ask lots of questions, and deliver quality works, always.
      <br />I am not fixed to a specific software or programming language and
      switch to what is best for the project.
    </p>
  </div>
</div>

<style>
  #headshot {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  h1 {
    font-weight: 900;
    font-size: 4rem;
    transition: 250ms;
    width: fit-content;
    margin: 0;
    color: var(--accent-color);
  }

  h2 {
    font-weight: 700;
    font-size: 0.85rem;
    width: fit-content;
    text-align: right;
    color: white;
    transition: 250ms;
  }

  p {
    font-weight: 700;
    font-size: 1.2rem;
    margin: 5rem 0 0 0;
    transition: 250ms;
    text-align: right;
    text-decoration-line: underline;
  }

  #head-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 2rem;
    justify-content: center;
    height: 100vh;
  }

  #head-container {
    min-height: 100vh;
  }

  @media (min-width: 768px) {
    #headshot {
      position: static;
      width: 50vw;
    }

    #head-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    h2 {
      color: var(--blackish);
    }
  }

  @media (min-width: 1024px) {
    #head-text {
      margin-top: 35vh;
    }

    #headshot {
      position: sticky;
    }
    h1 {
      font-size: max(6.5rem, 8vw);
    }

    h1:hover {
      transform: scale(1.1);
    }

    h2 {
      font-size: max(1.2rem, 1.5vw);
    }

    h2:hover > span {
      text-decoration-line: none;
      color: var(--blackish);
    }

    p {
      font-size: max(1.7rem, 2vw);
    }

    p:hover {
      color: var(--blackish);
    }
  }
</style>
