---
import headshot from "../portfolio_images/headshot.jpg";
---

<div id="head-container">
  <img
    id="headshot"
    src={headshot}
    alt="headshot"
  />
  <div id="head-text">
    <h1>Chirag</h1>
    <h2>A Student of Life <br /> <span>Lifetime learner</span></h2>
    <p>
      I’m a man who is trying to better his life by throwing himself into
      tireless work and skill development. I’m a total detail freak. I’m often
      ask lots of questions, and deliver quality works, always.
      <br />I am not fixed to a specific software or programming language and
      switch to what is best for the project.
    </p>
  </div>
</div>

<style>
  #headshot {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    /* position: sticky; */
    position: absolute;
    /* position: sticky; */
    top: 0;
    left: 0;
    z-index: -1;
    /* overflow: scroll; */

    /* transform: translate3d(0, 0, -10px) scale(1.75);
    transform-style: preserve-3d; */

    /* z-index: -100; */
  }

  h1 {
    font-weight: 900;
    font-size: 4rem;
    /* position: absolute;
    top: 0; */
    /* font-size: 160px; */
    width: fit-content;
    margin: 0;
    color: var(--accent-color);
  }

  h2 {
    font-weight: 700;
    font-size: 0.85rem;
    /* position: absolute;
    top: 0; */
    /* left: 0; */
    /* font-size: 40px; */
    width: fit-content;
    text-align: right;
    /* color: var(--accent-color); */
    color: white;
    /* margin: 0; */
  }

  p {
    /* position: absolute; */
    /* bottom: 0; */

    /* margin-top: 40vh; */
    /* width: 60%; */
    font-weight: 700;
    font-size: 1.2rem;
    margin: 5rem 0 0 0;
    /* color: ; */
    /* position: absolute;
    top: 15rem; */
    /* font-size: 50px; */
    text-align: right;
    text-decoration-line: underline;
  }

  #head-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding:0 2rem;
    justify-content: center;
    height: 100vh;
    /* padding-right: 8%; */
  }

  #head-container {
    min-height: 100vh;
    /* overflow: scroll; */
    /* transform-style: preserve-3d; */
    /* padding-left: 8%; */
    /* min-height: 200vh; */

    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    /* z-index: -1000; */
  }

  @media(min-width: 768px){
    #headshot{
      position: static;
      width: 50vw;
    }

    #head-container{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    h2{
      color: var(--blackish);
    }
  }

  @media(min-width:1024px){
    #head-text{
      margin-top: 35vh;
    }

    #headshot{
      position: sticky;
    }
    h1{
      font-size: max(6.5rem, 8vw);
    }

    h2{
      font-size: max(1.2rem, 1.5vw);
    }

    p{
      font-size: max(1.7rem, 2vw);
    }
  }
</style>
