---
import LearningCard from "./sub-components/learning-card.astro";
import tensorflowLogo from "../portfolio_images/Tensorflow-logo.png";
import flutterlLogo from "../portfolio_images/flutter-logo.png";
import reactlLogo from "../portfolio_images/react-logo.png";
import unitylLogo from "../portfolio_images/unity-logo.png";
---

<div id="learning">
  <h2>Stuff I Learned over The <span>Years</span></h2>
  <div id="learning-cards">
    <LearningCard
      url="https://www.tensorflow.org/"
      cardState="green"
      image={tensorflowLogo}
      title="Tensorflow"
      desciption="TensorFlow is a free and open-source software library for machine learning and artificial intelligence"
    />
    <LearningCard
      url="https://reactjs.org/"
      cardState="red"
      image={reactlLogo}
      title="React"
      desciption="React is a open-source front-end JavaScript library for building UI based on components."
    />
    <LearningCard
      url="https://flutter.dev/community"
      cardState="green"
      image={flutterlLogo}
      title="Flutter"
      desciption="Flutter is an open-source UI software development kit created by Google. It is used to develop cross-platform applications."
    />
    <LearningCard
      url="https://unity.com/"
      cardState="red"
      image={unitylLogo}
      title="Unity"
      desciption="Unity is a cross-platform game engine developed by Unity Technologies."
    />
  </div>
</div>
<style>
  h2 {
    font-weight: 800;
    font-size: 2rem;
  }

  #learning-cards {
    display: grid;
    gap: 1rem;
  }

  #learning {
    padding: 0 2rem;
  }

  @media (min-width: 768px) {
    #learning-cards {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (min-width: 1024px) {
    h2 {
      font-size: 3rem;
      width: 35vw;
    }

    h2:hover > span {
      text-decoration-line: none;
      color: var(--blackish);
    }

    #learning-cards {
      width: 50rem;
      margin: 0 auto;
    }
  }
</style>
