---
import LearningCard from "./sub-components/learning-card.astro";
import tensorflowLogo from "../portfolio_images/Tensorflow-logo.png";
import flutterlLogo from "../portfolio_images/flutter-logo.png";
import reactlLogo from "../portfolio_images/react-logo.png";
import unitylLogo from "../portfolio_images/unity-logo.png";
---

<div id="learning">
    <h2>Stuff I Learned over The <span>Years</span></h2>
  <div id="learning-cards">
    <LearningCard
      cardState="green"
      image={tensorflowLogo}
      title="Tensorflow"
      desciption="TensorFlow is a free and open-source software library for machine learning and artificial intelligence"
    />
    <LearningCard
      cardState="red"
      image={reactlLogo}
      title="React"
      desciption="React is a open-source front-end JavaScript library for building UI based on components."
    />
    <LearningCard
      cardState="red"
      image={unitylLogo}
      title="Unity"
      desciption="Unity is a cross-platform game engine developed by Unity Technologies."
    />
    <LearningCard
      cardState="green"
      image={flutterlLogo}
      title="Flutter"
      desciption="Flutter is an open-source UI software development kit created by Google. It is used to develop cross-platform applications."
    />
  </div>
</div>
<style>
  h2 {
    /* position: relative; */
    /* left: 8%; */
    font-weight: 800;
    font-size: 5rem;
    line-height: 97px;
    margin: 4% 0 0 8%;
    width: 50%;
    /* top: 5rem; */
    /* margin: 0; */
  }

  span{
    text-decoration-line: underline;
  }

  #learning-cards {
    display: grid;
    /* position: relative; */
    /* left: 20vw;
    top: 10rem; */
    /* bottom: 0rem; */
    /* bottom: 5%; */
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 10vh 20vw;
    width: 50vw;
  }

  #learning{
    min-height: 100vh;
    /* background-color: blue; */
  }

</style>








