<div id="project-container">
  <h2>Projects</h2>
  <div id="projects">
    <!-- <div class="anitext"> -->
      <p>Metropolis</p>
      <p>Pastel Payment</p>
      <p>Hand writing classification</p>
      <p>Zombie Dodge</p>
    <!-- </div> -->
    </div>
</div>

<style>
  h2 {
    /* margin: 0; */
    /* position: relative;
    left: 8%;
    top: 5rem; */
    /* top: 10%; */
    font-weight: 800;
    font-size: 2rem;
    /* font-size: 80px; */
    /* line-height: 97px; */

    color: var(--accent-color);
  }
  p {
    margin: 1rem 0;
    /* margin: 1.5rem 0; */
    font-weight: 800;
    font-size: 2.5rem;
    /* font-size: 110px; */
    /* line-height: 133px; */
    color: var(--blackish);

    /* word-wrap:normal; */
    /* width: 90vw; */

    /* background-color: red; */
  }

  #projects{
    /* position: relative; */
    /* top: 10%; */
    /* top: 5rem;
    left: 8%; */
    /* width: 92%; */
    /* background-color: RED; */
  }

  #project-container{
    padding: 0 2rem;
    /* min-height: 100vh; */
    /* width: 50%; */
    /* padding:8%; */
    /* background-color: yellow; */
  }

  @media(min-width: 768px){
    p{
      font-size: 3rem;
    }
  }

  @media(min-width: 1024px){
    h2{
      font-size: 3rem;
    }

    p{
      font-size: 4rem;
    }
  }

</style>
