---
// import metropolis_image from "../portfolio_images/metropolis-logo.png";
// import pastelPayment_image from "../portfolio_images/pastel-payment-card.png";
import handWriting_image from "../portfolio_images/project-images/hand-writing.png";
// import zombieDodge_image from "../portfolio_images/zombie-dodge.png";
import capuchin_bird_image from "../portfolio_images/project-images/capuchin-bird.png";
import lego_image from "../portfolio_images/project-images/lego-toys.jpg";
import mpg_image from "../portfolio_images/project-images/mpg.jpg";
---

<div id="project-container">
  <h2>Projects</h2>
  <div id="projects">
    <p class="project-name">
      <img
        class="project-image"
        src={mpg_image}
        alt=""
      />
      <a
        href="https://www.kaggle.com/code/duanboomer/mpg-prediction-model"
        target="_blank"
        rel="noopener noreferrer"
        >Miles per Gallon (MPG) Predictor</a
      >
    </p>
    <p class="project-name">
      <img
        class="project-image"
        src={lego_image}
        alt=""
      />
      <a
        href="https://www.kaggle.com/code/duanboomer/lego-toys-classification"
        target="_blank"
        rel="noopener noreferrer"
        >Lego Toys Classifier</a
      >
    </p>
    <p class="project-name">
      <img
        class="project-image"
        src={handWriting_image}
        alt=""
      />
      <a
        href="https://www.kaggle.com/code/duanboomer/handwriting-classification/notebook"
        target="_blank"
        rel="noopener noreferrer"
        >Hand Writing Recognition </a
      >
    </p>
    <p class="project-name">
      <img
        class="project-image"
        src={capuchin_bird_image}
        alt=""
      />
      <a
        href="https://www.kaggle.com/code/duanboomer/capuchin-bird-audio-classification"
        target="_blank"
        rel="noopener noreferrer"
        >Capuchin Bird Identifier</a
      >
    </p>
  </div>
</div>

<style>
  /* \\\\\\\\\\\\\\\ */

  .project-image {
    position: fixed;
    width: 16rem;
    display: none;
    transition: 0.1s;
  }

  /* \\\\\\\\\\\\\\\\\\\\ */
  h2 {
    font-weight: 800;
    font-size: 2rem;
    transition: 250ms;
    width: fit-content;
    margin: 0;
    /* color: var(--accent-color); */
  }
  p {
    margin: 1rem 0;
    font-weight: 800;
    font-size: 2.5rem;
    width: fit-content;
    transition: 250ms;
    color: var(--complementary-color);
  }

  #project-container {
    padding: 4rem 2rem;
  }

  @media (min-width: 768px) {
    p {
      font-size: 3rem;
    }
  }

  @media (min-width: 1024px) {
    h2 {
      font-size: 3rem;
    }

    /* h2:hover {
      text-decoration-line: none;
      color: var(--black);
    } */

    p {
      font-size: 4rem;
      /* color: black; */
    }

    p:hover {
      color: var(--dominant-color);
    }

    p:hover > .project-image {
      display: block;
    }
  }
</style>

<script>
  const images = document.getElementsByClassName("project-image");

  function addMouseEffects(elements) {
    for (let i = 0; i < elements.length; i++) {
      const tag = elements.item(i);

      document.addEventListener("mousemove", (systemCursor) => {
        var x = systemCursor.clientX;
        var y = systemCursor.clientY;

        tag.style.left = x + 20 + "px";
        tag.style.top = y + "px";
      });
    }
  }

  addMouseEffects(images);
</script>
