<div id="project-container">
  <h2>Projects</h2>
  <div id="projects">
    <p class="project-name">
      <a
        href="https://github.com/DuanBoomer/metropolis"
        target="_blank"
        rel="noopener noreferrer"
        >Metropolis</a>
    </p>
    <p class="project-name">
      <a
        href="https://github.com/DuanBoomer/Pastel-Fintect-Page-Flutter"
        target="_blank"
        rel="noopener noreferrer"
        >Pastel Payment</a>
    </p>
    <p class="project-name">
      <a
        href="https://github.com/DuanBoomer"
        target="_blank"
        rel="noopener noreferrer"
        >Hand writing classification</a>
    </p>
    <p class="project-name">
      <a
        href="https://github.com/DuanBoomer"
        target="_blank"
        rel="noopener noreferrer"
        >Zombie Dodge</a>
    </p>
  </div>
</div>

<style>
  h2 {
    font-weight: 800;
    font-size: 2rem;
    transition: 250ms;
    width: fit-content;
    color: var(--accent-color);
  }
  p {
    margin: 1rem 0;
    font-weight: 800;
    font-size: 2.5rem;
    width: fit-content;
    color: var(--blackish);
    transition: 250ms;
  }

  #project-container {
    padding: 0 2rem;
  }

  @media (min-width: 768px) {
    p {
      font-size: 3rem;
    }
  }

  @media (min-width: 1024px) {
    h2 {
      font-size: 3rem;
    }

    h2:hover {
      text-decoration-line: none;
      color: var(--blackish);
    }

    p {
      font-size: 4rem;
    }

    p:hover {
      color: var(--accent-color);
    }
  }
</style>
