<div id="project-container">
  <h2>Projects</h2>
  <div id="projects">
    <p class="project-name">
      <a
        href="https://github.com/DuanBoomer/metropolis"
        target="_blank"
        rel="noopener noreferrer"
        >Metropolis</a>
    </p>
    <p class="project-name">
      <a
        href="https://github.com/DuanBoomer/Pastel-Fintect-Page-Flutter"
        target="_blank"
        rel="noopener noreferrer"
        >Pastel Payment</a>
    </p>
    <p class="project-name">
      <a
        href="https://github.com/DuanBoomer"
        target="_blank"
        rel="noopener noreferrer"
        >Hand writing classification</a>
    </p>
    <p class="project-name">
      <a
        href="https://github.com/DuanBoomer"
        target="_blank"
        rel="noopener noreferrer"
        >Zombie Dodge</a>
    </p>
  </div>
</div>

<style>
  h2 {
    font-weight: 800;
    font-size: 2rem;
    transition: 250ms;
    width: fit-content;
    margin: 0;
    /* color: var(--accent-color); */
  }
  p {
    margin: 1rem 0;
    font-weight: 800;
    font-size: 2.5rem;
    width: fit-content;
    transition: 250ms;
    color: var(--complementary-color);
  }

  #project-container {
    padding: 4rem 2rem;
  }

  @media (min-width: 768px) {
    p {
      font-size: 3rem;
    }
  }

  @media (min-width: 1024px) {
    h2 {
      font-size: 3rem;
    }

    /* h2:hover {
      text-decoration-line: none;
      color: var(--black);
    } */

    p {
      font-size: 4rem;
      /* color: black; */
    }

    p:hover {
      color: var(--dominant-color);
    }
  }
</style>
