---
import Icon from './Icon.astro';
---
<!-- Data Analysis: Python, Numpy, Pandas, Matplotlib, Seaborn, Scrapy, SQL
Machine Learning: Tensorflow, Keras, Scikit-Learn, Exploratory Data Analysis
Data Visualization and Reporting: Tableau, Statistics, Git/GitHub -->
<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Python</h2>
		<p>My personal favourite language. Made everything in it, eg - games, web scrappers, api backends and ml models</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="hard-drives" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>SQL & MongoDB</h2>
		<p>Able to query relational and document-based databases with ease.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="head-circuit" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Tensorflow</h2>
		<p>The main tool for making custom machine learning models. Worked on all forms of inputs, i.e, text, image, audio and video.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="chart-scatter" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Exploratory Data Analysis</h2>
		<p>Gathering insights from databases using Numpy, Pandas, Matplotlib and Seaborn by asking intrigueing questions.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="presentation-chart" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Tableau</h2>
		<p>Beautiful and interactive representation of data on KPI based dashboards.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="microphone-stage" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Public Speaking</h2>
		<p>Communication is the key to success. The ideas need to spread from my mind to others. Won a few presentation competitions.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
